{% extends "landing/base.html" %}

{% block content %}


<section id="contact" class="contact">
    <div class="container" style="padding-top: 25px;">

        <div class="section-title">
            {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
            {% endif %}

            {% if next %}
            {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
            {% else %}
            <p>Please login to see this page.</p>
            {% endif %}
            {% endif %}

        </div>

        <div class="row justify-content-center">



            <div class="col-auto d-flex ">
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <table class="table table-responsive">
                        <tr>
                            <td>{{ form.username.label_tag }}</td>
                            <td>{{ form.username }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.password.label_tag }}</td>
                            <td>{{ form.password }}</td>
                        </tr>
                    </table>
                    <div class="text-center ">
                        <input type="submit" class="btn btn-success" value="login" />
                        <input type="hidden" name="next" value="{{ next }}" />
                        <br><br>
                        {# Assumes you setup the password_reset view in your URLconf #}
                        <!-- <p><a href="{% url 'password_reset' %}">Lost password?</a></p> -->
                    </div>

                </form>
            </div>

        </div>



    </div>
</section>


{% endblock %}