{% extends 'landing/base.html' %}
{% load static %}

{% block content %}

<section id="contact" class="contact">
    <div class="container" style="padding-top: 25px;">

        <div class="section-title">
            <!-- form is displayed as update only if object is already created -->
            {%if object%}
            <h2>Update a Missing Person</h2>

            {%else %}
            <h2>Register a Missing Person</h2>
            <p>Enter details of the missing person. Make sure to upload a clear picture of the persons face.
            </p>
            {%endif%}

        </div>

        <div class="row justify-content-center">



            <div class="col-lg-7 mt-5 mt-lg-0 d-flex ">
                <!-- form to register/update a missing person -->
                <form action="" method="post" class="" enctype="multipart/form-data">
                    {% csrf_token %}

                    <table class="table table-hover">
                        <div class="row">
                            {{ form.as_table }}
                        </div>
                    </table>


                    <div class="text-center ">
                        <button type="button" class="btn btn-primary" onclick="window.history.back();">Cancel</button>
                        <input type="submit" class="btn btn-success" value="Submit">

                    </div>
                </form>
            </div>

        </div>

    </div>
</section>
{% endblock content %}