{% extends 'landing/base.html' %}
{% load static %}

{% block content %}
<!-- to delete a missing person from db -->
<section id="contact" class="contact">
    <div class="container" style="padding-top: 25px;">

        <div class="section-title">
            <h2>Are you sure you want to delete?</h2>
            <p>Once deleted data cannot be recovered.
            </p>
        </div>

        <div class="row justify-content-center">


            <form method="post" action="" class="text-center">
                {% csrf_token %}


                <button type="button" class="btn btn-primary" onclick="window.history.back();">Cancel</button>
                <button type="submit" class="btn btn-danger">Delete</button>

            </form>
        </div>



    </div>
</section>


{% endblock content %}