{% extends 'landing/base.html' %}
{% load static %}

{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

        <div class="container">
                <div class="row">
                        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
                                data-aos="fade-up" data-aos-delay="200">
                                <h1> Welcome to World's largest missing person repository!</h1>
                                <h2>Finding missing people using Face Recognition Technologies</h2>
                                <div class="d-flex justify-content-center justify-content-lg-start">
                                        <a href="#about" class="btn-get-started scrollto">Get Started</a>
                                        <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q"
                                                class="glightbox btn-watch-video"><i
                                                        class="bi bi-play-circle"></i><span>Watch Video</span></a>
                                </div>
                        </div>
                        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                                <img src="{% static 'landing/img/hero-img.png' %}" class="img-fluid animated" alt="">
                        </div>
                </div>
        </div>

</section><!-- End Hero -->
<main id="main">

        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
                <div class="container" data-aos="fade-up">

                        <div class="section-title">
                                <h2>About Us</h2>
                        </div>

                        <div class="row content">
                                <div class="col-lg-6">
                                        <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore
                                                magna aliqua.
                                        </p>
                                        <ul>
                                                <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip
                                                        ex ea commodo consequat</li>
                                                <li><i class="ri-check-double-line"></i> Duis aute irure dolor in
                                                        reprehenderit in voluptate velit</li>
                                                <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip
                                                        ex ea commodo consequat</li>
                                        </ul>
                                </div>
                                <div class="col-lg-6 pt-4 pt-lg-0">
                                        <p>
                                                Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                                dolor in reprehenderit in voluptate
                                                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                                                occaecat cupidatat non proident, sunt in
                                                culpa qui officia deserunt mollit anim id est laborum.
                                        </p>
                                        <a href="#" class="btn-learn-more">Learn More</a>
                                </div>
                        </div>

                </div>
        </section><!-- End About Us Section -->
        <!-- ======= Services Section ======= -->
        <section id="services" class="services section-bg">
                <div class="container" data-aos="fade-up">

                        <div class="section-title">
                                <h2>Services</h2>
                                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum
                                        quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo
                                        qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem
                                        hic quas.</p>
                        </div>

                        <div class="row">
                                <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in"
                                        data-aos-delay="100">
                                        <div class="icon-box">
                                                <div class="icon"><i class="bx bxl-dribbble"></i></div>
                                                <h4><a href="">Lorem Ipsum</a></h4>
                                                <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias
                                                        excepturi</p>
                                        </div>
                                </div>

                                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
                                        data-aos="zoom-in" data-aos-delay="200">
                                        <div class="icon-box">
                                                <div class="icon"><i class="bx bx-file"></i></div>
                                                <h4><a href="">Sed ut perspici</a></h4>
                                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                                        dolore</p>
                                        </div>
                                </div>

                                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
                                        data-aos="zoom-in" data-aos-delay="300">
                                        <div class="icon-box">
                                                <div class="icon"><i class="bx bx-tachometer"></i></div>
                                                <h4><a href="">Magni Dolores</a></h4>
                                                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                                                        officia</p>
                                        </div>
                                </div>

                                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
                                        data-aos="zoom-in" data-aos-delay="400">
                                        <div class="icon-box">
                                                <div class="icon"><i class="bx bx-layer"></i></div>
                                                <h4><a href="">Nemo Enim</a></h4>
                                                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui
                                                        blanditiis</p>
                                        </div>
                                </div>

                        </div>

                </div>
        </section><!-- End Services Section -->
        <!-- ======= Frequently Asked Questions Section ======= -->
        <section id="faq" class="faq section-bg">
                <div class="container" data-aos="fade-up">

                        <div class="section-title">
                                <h2>Frequently Asked Questions</h2>
                                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum
                                        quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo
                                        qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem
                                        hic quas.</p>
                        </div>

                        <div class="faq-list">
                                <ul>
                                        <li data-aos="fade-up" data-aos-delay="100">
                                                <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                                        class="collapse" data-bs-target="#faq-list-1">Non consectetur a
                                                        erat nam at lectus urna duis? <i
                                                                class="bx bx-chevron-down icon-show"></i><i
                                                                class="bx bx-chevron-up icon-close"></i></a>
                                                <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                                                        <p>
                                                                Feugiat pretium nibh ipsum consequat. Tempus iaculis
                                                                urna id volutpat lacus laoreet non curabitur gravida.
                                                                Venenatis lectus magna fringilla urna porttitor rhoncus
                                                                dolor purus non.
                                                        </p>
                                                </div>
                                        </li>

                                        <li data-aos="fade-up" data-aos-delay="200">
                                                <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                                        data-bs-target="#faq-list-2" class="collapsed">Feugiat
                                                        scelerisque varius morbi enim nunc? <i
                                                                class="bx bx-chevron-down icon-show"></i><i
                                                                class="bx bx-chevron-up icon-close"></i></a>
                                                <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                                                        <p>
                                                                Dolor sit amet consectetur adipiscing elit pellentesque
                                                                habitant morbi. Id interdum velit laoreet id donec
                                                                ultrices. Fringilla phasellus faucibus scelerisque
                                                                eleifend donec pretium. Est pellentesque elit
                                                                ullamcorper dignissim. Mauris ultrices eros in cursus
                                                                turpis massa tincidunt dui.
                                                        </p>
                                                </div>
                                        </li>

                                        <li data-aos="fade-up" data-aos-delay="300">
                                                <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                                        data-bs-target="#faq-list-3" class="collapsed">Dolor sit amet
                                                        consectetur adipiscing elit? <i
                                                                class="bx bx-chevron-down icon-show"></i><i
                                                                class="bx bx-chevron-up icon-close"></i></a>
                                                <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                                                        <p>
                                                                Eleifend mi in nulla posuere sollicitudin aliquam
                                                                ultrices sagittis orci. Faucibus pulvinar elementum
                                                                integer enim. Sem nulla pharetra diam sit amet nisl
                                                                suscipit. Rutrum tellus pellentesque eu tincidunt.
                                                                Lectus urna duis convallis convallis tellus. Urna
                                                                molestie at elementum eu facilisis sed odio morbi quis
                                                        </p>
                                                </div>
                                        </li>

                                        <li data-aos="fade-up" data-aos-delay="400">
                                                <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                                        data-bs-target="#faq-list-4" class="collapsed">Tempus quam
                                                        pellentesque nec nam aliquam sem et tortor consequat? <i
                                                                class="bx bx-chevron-down icon-show"></i><i
                                                                class="bx bx-chevron-up icon-close"></i></a>
                                                <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                                                        <p>
                                                                Molestie a iaculis at erat pellentesque adipiscing
                                                                commodo. Dignissim suspendisse in est ante in. Nunc vel
                                                                risus commodo viverra maecenas accumsan. Sit amet nisl
                                                                suscipit adipiscing bibendum est. Purus gravida quis
                                                                blandit turpis cursus in.
                                                        </p>
                                                </div>
                                        </li>

                                        <li data-aos="fade-up" data-aos-delay="500">
                                                <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                                        data-bs-target="#faq-list-5" class="collapsed">Tortor vitae
                                                        purus faucibus ornare. Varius vel pharetra vel turpis nunc eget
                                                        lorem dolor? <i class="bx bx-chevron-down icon-show"></i><i
                                                                class="bx bx-chevron-up icon-close"></i></a>
                                                <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                                                        <p>
                                                                Laoreet sit amet cursus sit amet dictum sit amet justo.
                                                                Mauris vitae ultricies leo integer malesuada nunc vel.
                                                                Tincidunt eget nullam non nisi est sit amet. Turpis nunc
                                                                eget lorem dolor sed. Ut venenatis tellus in metus
                                                                vulputate eu scelerisque.
                                                        </p>
                                                </div>
                                        </li>

                                </ul>
                        </div>

                </div>
        </section><!-- End Frequently Asked Questions Section -->



</main>


{% endblock content%}