{% extends 'landing/base.html' %}
{% load static %}

{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

        <div class="container">
                <div class="row">
                        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
                                data-aos="fade-up" data-aos-delay="200">
                                <h1>Even One Missing Person Is One Too Many!</h1>
                                <h2>FaceFind, firmly believes in that, and we are committed to change this by
                                        finding missing people using Computer Vision and Face
                                        Recognition Technologies.</h2>
                                <div class="d-flex justify-content-center justify-content-lg-start">
                                        <a href="#about" class="btn-get-started scrollto">Get Started</a>
                                        <a href="https://youtu.be/onXOQIu5jCg" class="glightbox btn-watch-video"><i
                                                        class="bi bi-play-circle"></i><span>Demo Video</span></a>
                                </div>
                        </div>
                        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
                                <img src="{% static 'landing/img/hero1.png' %}" class="img-fluid animated" alt="">
                        </div>
                </div>
        </div>

</section><!-- End Hero -->
<main id="main">

        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
                <div class="container" data-aos="fade-up">

                        <div class="section-title">
                                <h2>About Us</h2>
                        </div>

                        <div class="row content">
                                <div class="col-lg-6">
                                        <p>
                                                The thought of a family member, a friend or someone else you care about
                                                going missing can be terrifying.
                                                We at FaceFind help find your loved ones using Face Recognition
                                                Technologies. If someone you know is missing, then,
                                        </p>
                                        <ul>
                                                <li><i class="ri-check-double-line"></i>Register the missing person with
                                                        us. </li>
                                                <li><i class="ri-check-double-line"></i>We will contact you for a
                                                        background check.</li>
                                                <li><i class="ri-check-double-line"></i>Once verified, the missing
                                                        person is added to our database of missing people.</li>
                                                <li><i class="ri-check-double-line"></i>When volunteers report a
                                                        suspected missing person, we
                                                        use face recognition to identify a potential match with our
                                                        database. </li>
                                                <li><i class="ri-check-double-line"></i>If a match is found we will
                                                        report to the local authorities and contact you.</li>

                                        </ul>
                                        <a href="{% url 'create_missing_person' %}" class="btn-learn-more">Register a
                                                Missing Person</a>
                                </div>
                                <div class="col-lg-6 pt-4 pt-lg-0">
                                        <p>
                                                It is estimated that a child goes missing in India every eight minutes.
                                                Millions end up in forced labour, domestic slavery and sex work, in
                                                what’s become a lucrative industry.

                                                If you ever suspect a person could have been trafficked this way,
                                        </p>
                                        <ul>
                                                <li><i class="ri-check-double-line"></i>Report the suspected person.
                                                </li>
                                                <li><i class="ri-check-double-line"></i>We will cross-verify the report
                                                        to check its validity.</li>
                                                <li><i class="ri-check-double-line"></i>Once verified, use face
                                                        recognition to identify a
                                                        potential match with our database of missing people. </li>
                                                <li><i class="ri-check-double-line"></i>If a match is found we will
                                                        report to the local authorities and contact the family/guardian.
                                                </li>

                                        </ul>
                                        <a href="{% url 'create_reported_person' %}" class="btn-learn-more">Report a
                                                Suspected Missing Person</a>

                                </div>
                        </div>

                </div>
        </section><!-- End About Us Section -->
        <!-- ======= Technology Section ======= -->
        <section id="services" class="services section-bg">
                <div class="container" data-aos="fade-up">

                        <div class="section-title">
                                <h2>Technology</h2>
                                <p>To achieve our goal of finding missing people, we make use of the following
                                        technologies,</p>
                        </div>

                        <div class="row">
                                <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in"
                                        data-aos-delay="100">
                                        <div class="icon-box">
                                                <div class="icon"><i class="bx bx-layer"></i></div>
                                                <h4><a href="https://getbootstrap.com/">Bootstrap</a></h4>
                                                <p>A free and open-source framework of HTML, CSS and JavaScript,
                                                        directed at responsive,
                                                        mobile-first front-end web development.</p>
                                        </div>
                                </div>

                                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
                                        data-aos="zoom-in" data-aos-delay="200">
                                        <div class="icon-box">
                                                <div class="icon"><i class="bx bx-layer"></i></div>
                                                <h4><a href="https://www.djangoproject.com/">Django</a></h4>
                                                <p>A free and open-source, high-level Python based web framework
                                                        that enables rapid development of secure and maintainable
                                                        websites.</p>
                                        </div>
                                </div>

                                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
                                        data-aos="zoom-in" data-aos-delay="300">
                                        <div class="icon-box">
                                                <div class="icon"><i class="bx bx-layer"></i></div>
                                                <h4><a href="https://azure.microsoft.com/en-in/services/cognitive-services/face/#overview">Azure
                                                                Face API</a></h4>
                                                <p>An AI service by Microsoft that can detect, identify and analyse
                                                        faces in images and videos.</p>
                                        </div>
                                </div>

                                <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
                                        data-aos="zoom-in" data-aos-delay="400">
                                        <div class="icon-box">
                                                <div class="icon"><i class="bx bx-layer"></i></div>
                                                <h4><a href="https://www.sqlite.org/index.html">SQLite</a></h4>
                                                <p>An in-process library that implements a self-contained, serverless,
                                                        zero-configuration, transactional SQL database engine.</p>
                                        </div>
                                </div>

                        </div>

                </div>
        </section><!-- End Technology Section -->
        <!-- ======= Frequently Asked Questions Section ======= -->
        <section id="faq" class="faq section-bg">
                <div class="container" data-aos="fade-up">

                        <div class="section-title">
                                <h2>Frequently Asked Questions</h2>
                        </div>

                        <div class="faq-list">
                                <ul>
                                        <li data-aos="fade-up" data-aos-delay="100">
                                                <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                                        class="collapse" data-bs-target="#faq-list-1">What happens after
                                                        I register a Missing Person? <i
                                                                class="bx bx-chevron-down icon-show"></i><i
                                                                class="bx bx-chevron-up icon-close"></i></a>
                                                <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                                                        <p>
                                                                Once you have successfully registered a missing person,
                                                                we will contact you for a background check followed by
                                                                which,
                                                                we generate a unique Face ID for the missing person
                                                                using Azure's Face API.
                                                                When volunteers report a suspected missing person, we
                                                                verify and generate a Face ID the same way.
                                                                We then use Azure's Find Similar API to identify a
                                                                potential match with our database of missing person Face
                                                                IDs.
                                                                If a match is found we will report to the local
                                                                authorities and contact you.
                                                        </p>
                                                </div>
                                        </li>

                                        <li data-aos="fade-up" data-aos-delay="200">
                                                <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                                        data-bs-target="#faq-list-2" class="collapsed">What happens
                                                        after I report a Suspected Missing Person? <i
                                                                class="bx bx-chevron-down icon-show"></i><i
                                                                class="bx bx-chevron-up icon-close"></i></a>
                                                <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                                                        <p>
                                                                Once you have successfully reported a suspected missing
                                                                person,
                                                                we will cross-verify the report to check its validity.
                                                                We then generate a unique Face ID for the missing person
                                                                using Azure's Face API,
                                                                followed by which, we use Azure's Find Similar API to
                                                                identify a potential match with
                                                                our database of missing person Face IDs.
                                                                If a match is found we will report to the local
                                                                authorities and contact the family/guardian.
                                                        </p>
                                                </div>
                                        </li>

                                        <li data-aos="fade-up" data-aos-delay="300">
                                                <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                                        data-bs-target="#faq-list-3" class="collapsed">How does Azure's
                                                        Face API work? <i class="bx bx-chevron-down icon-show"></i><i
                                                                class="bx bx-chevron-up icon-close"></i></a>
                                                <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                                                        <p>
                                                                Firstly, it detects a face in the given image and
                                                                generates
                                                                a unique identifier string for the detected face in the
                                                                image.
                                                                Then to check if two images contain the same person,
                                                                we use the Find Similar API, that searchs for
                                                                similar-looking faces
                                                                given a target Face ID and Face ID array.
                                                                The API returns a JSON object containing the matched
                                                                Face ID from the
                                                                given array along with the confidence score.
                                                        </p>
                                                </div>
                                        </li>

                                        <li data-aos="fade-up" data-aos-delay="300">
                                                <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                                                        data-bs-target="#faq-list-4" class="collapsed">This seems
                                                        interesting. How can I help? <i
                                                                class="bx bx-chevron-down icon-show"></i><i
                                                                class="bx bx-chevron-up icon-close"></i></a>

                                                <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                                                        <p>
                                                                Thank you for your interest. Every help towards
                                                                finding a loved one gone missing
                                                                counts. You can help us in
                                                                the following ways, <br>
                                                                <i class="ri-check-double-line"></i>Please
                                                                volunteer to spot suspected missing people
                                                                and report them. <br>
                                                                <i class="ri-check-double-line"></i>Connect us
                                                                with NGOs working in this space. <br>
                                                                <i class="ri-check-double-line"></i>Connect us with
                                                                relevant state and central
                                                                government departments.<br>
                                                                <i class="ri-check-double-line"></i>Sponsor hosting
                                                                fees.<br>
                                                                <i class="ri-check-double-line"></i>Sponsor Azure API
                                                                charges.<br>
                                                                <i class="ri-check-double-line"></i>Contact us at
                                                                facefindxyz@gmail.com for more details.<br>
                                                        </p>

                                                </div>
                                        </li>


                                </ul>
                        </div>

                </div>
        </section><!-- End Frequently Asked Questions Section -->

        <!-- ======= Footer ======= -->
        <footer id="footer">



                <div class="container footer-bottom clearfix">
                        <div class="copyright">
                                &copy; Copyright <strong><span>Face Find</span></strong>. All Rights Reserved
                        </div>
                        <div class="credits">
                                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                        </div>
                </div>
        </footer><!-- End Footer -->



</main>


{% endblock content%}